li{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f29724;
    color: #fff;
    border-radius: 32px;
    padding: 1rem;
    font-style: semibold ;
    margin: 1rem;
    transition: all;
   
}